@{
    ViewData["Title"] = "Panel de Administración";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>Bienvenido, administrador. Aquí puedes gestionar tus productos y más.</p>

    <a href="/admin-panel.html" class="btn btn-ntperu mb-2">
        Ir al Panel API de Productos
    </a>

    <br/>

    <a href="/Admin/Logout" class="btn btn-danger">
        Cerrar sesión
    </a>
</div>
